attrs==23.1.0
bidict==0.22.1
blinker==1.6.2
cattrs==23.1.2
click==8.1.3
Flask==2.3.2
Flask-SocketIO==5.3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
lsprotocol==2023.0.0a2
MarkupSafe==2.1.3
packaging==23.1
pluggy==1.2.0
pygls==1.0.2
pytest==7.4.0
python-dotenv==1.0.0
python-engineio==4.4.1
python-socketio==5.8.0
ruff==0.0.275
ruff-lsp==0.0.35
typeguard==3.0.2
typing_extensions==4.6.3
Werkzeug==2.3.6
